<h1>{{title}}</h1>
<hr />

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<table>
    
    <tbody>
        
        <tr>
            
            <td><label>authorId</label></td>
            <td>
                <input id="authorId" type="text" value="{{data.authorId}}"/>
                <input id="quoteId" type="hidden" value="{{data.quoteId}}"/>
            </td>
        </tr>
        <tr> 
            <td><label>Quote</label></td>
            <td><textarea rows="3" id="quote">{{data.quote}}</textarea></td>
        </tr>
        <tr>
            <td><label>Category</label></td>
            <td><input id="category" type ="text" value ="{{data.category}}"/></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button id="saveButton" class="btn btn-primary">Save</button>
                <button id="cancelButton" class="btn btn-secondary">Cancel</button>
            </td>
        </tr>
        <tr>
            <td><label>Id</label></td>
            <td><input id="id" type="text" disabled/></td>
        </tr>
    </tbody>
</table>

//     /*global $*/
//     /*global err*/
//     $("#cancelButton").on("click", function() {
//         window.location.href = "../lab10/quotes"
//     }); 
    
//     $("#saveButton").on("click", function() {
        
//         $.ajax({
//             type: "POST", 
//             url: "/labs/lab10/quotes/edit", 
//             dataType: "json", 
//             contentType: "application/json", 
//             data: JSON.stringify({
//                 "quoteId": $("#quoteId").val(), 
//                 "authorId":$("#authorId").val(), 
//                 "quote": $("#quote").val(), 
//                 "category":$("#category").val(), 
//             }), 
            
//             success: function(data, status) {
//                 console.log("got data back", data); 
//                 window.location.href = "/labs/lab10/quotes"; 
//             }, 
//             error: function(xhr, status, error) {
//                 err = eval("(" + xhr.responseText + ")");
//                 console.log(err);
//             }, 
//             complete: function(data, status) {//optional, used for debugging purposes
//             console.log(status);
//             }
//         });
//     })
// </script>
