<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="css/styles.css" rel="stylesheet" type="text/css" />


<button class="button fadeIn fourth" id="backButton" onclick="window.location.href='../public/Exam/Final/views/login'" style="color:black;">Login</button>
<h1 class="text-center">{{title}}</h1>
<hr />
<table>
    
    <thead>
        
        <tr>
           
            <th class="w-50 text-center">Date</th>
            <th class="w-15">Start Time</th>
            <th class="w-15">End Time</th>
            <th>
                <a class="btn btn-success" id="new" href="/Exam/Final/home/views/edit">Add Time Slot</a>
            </th>
        </tr>
    </thead>
    <tbody>
{{#each quotes}}
        <tr>
            <td>{{date}}</td>
            <td>{{start_time}}</td>
            <td>{{end_time}}</td>
            <td>
                <a class="btn btn-primary" href="/Exam/Final/home/edit?id={{appointment}}">Edit</a>
                <a class="btn btn-danger" href="/Exam/Final/home/delete?id="{{appointment}}>Delete</a
            </td>
        </tr>
{{/each}}
    </tbody>
</table>
        {{!-- BUTTONS ON TOP --}}
        {{!--<a class="button fadeIn" href="/" style="color:black;">Log Out</a>--}}
        
        {{!-- DISPLAYS CURRENT APPOINTMENTS --}}
        <div class="wrapper fadeInDown">
            <div class="header">
                {{!--<h3>Appointments</h3>--}}
            </div>
            <table id="formContent">
                {{#each class}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.start_time}}</td>
                    <td>{{this.end_time}}</td>
                </tr>
                {{/each}}
            </table>
        </div>
        
        <table>
<thead>
<tr>
<th style="text-align:left">#</th>
<th style="text-align:left">Task Description</th>
<th style="text-align:left">Points</th>
</tr>
</thead>
<tbody>
<tr>
<td style="color:green;" style="text-align:left">1</td>
<td style="color:green;"style="text-align:left green">You provide a ERD diagram representing the data and its relationships. This may be included in Cloud9 as a picture or from a designer tool</td>
<td style="color:green;"style="text-align:left">10</td>
</tr>
<tr>
<td style="color:green;"style="text-align:left">2</td>
<td style="color:green;"style="text-align:left">Tables in MySQL match the ERD and support the requirements of the application</td>
<td style="color:green;"style="text-align:left green">20</td>
</tr>
<tr>
<td style="color:orange;"style="text-align:left">3</td>
<td style="color:orange;"style="text-align:left">The list of available appointments is pulled from MySQL using the API endpoint and displayed using the specified page design</td>
<td style="color:orange;"style="text-align:left">20</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">4</td>
<td style="color:red;"style="text-align:left">Available times with dates in the past do not show up in the Dashboard list</td>
<td style="color:red;"style="text-align:left">5</td>
</tr>
<tr>
<td style="color:green;"style="text-align:left">5</td>
<td style="color:green;"style="text-align:left">A user can add an available time slot to the MySQL using the API endpoint and displayed using the specified modal design</td>
<td style="color:green;"style="text-align:left">20</td>
</tr>
<tr>
<td style="color:orange;"style="text-align:left">6</td>
<td style="color:orange;"style="text-align:left">A user can remove an available time slot from MySQL using the API endpoint</td>
<td style="color:orange;"style="text-align:left">15</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">7</td>
<td style="color:red;"style="text-align:left">The user confirms the removal using the specified modal design</td>
<td style="color:red;"style="text-align:left">10</td>
</tr>
<tr>
<td style="text-align:left"></td>
<td style="text-align:left">TOTAL</td>
<td style="text-align:left">100</td>
</tr>
<tr>
<td style="color:green;"style="text-align:left"></td>
<td style="color:green;"style="text-align:left">This rubric is properly included AND UPDATED (BONUS)</td>
<td style="color:green;"style="text-align:left">2</td>
</tr>
<tr>
<td style="color:orange;"style="text-align:left">BD</td>
<td style="color:orange;"style="text-align:left">Login works with a User table and BCrypt</td>
<td style="color:orange;"style="text-align:left">20</td>
</tr>
<tr>
<td style="color:orange;"style="text-align:left">BD</td>
<td style="color:orange;"style="text-align:left">Add Google Signin for app login</td>
<td style="color:orange;"style="text-align:left">10</td>
</tr>
<tr>
<td style="color:green;"style="text-align:left">BD</td>
<td style="color:green;"style="text-align:left">The app is deployed to Heroku</td>
<td style="color:green;"style="text-align:left">5</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">BD</td>
<td style="color:red;"style="text-align:left">A banner file can be uploaded and displayed</td>
<td style="color:red;"style="text-align:left">20</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">BD</td>
<td style="color:red;"style="text-align:left">The user can add multiple available time slots as specified</td>
<td style="color:red;"style="text-align:left">10</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">BD</td>
<td style="color:red;"style="text-align:left">In a separate page, you show the correct list of available time slots to the user who navigates to the correct invitation URL</td>
<td style="color:red;"style="text-align:left">10</td>
</tr>
<tr>
<td style="color:red;"style="text-align:left">BD</td>
<td style="color:red;"style="text-align:left">You correctly implement booking of the appointement, including all side effects</td>
<td style="color:red;"style="text-align:left">30</td>
</tr>
</tbody>
</table>